body{
    background-color: rgba(50, 51, 51, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.titulo{
    text-align: center;
    color: #181a19;
}
.titulo1{
    text-align: center;
    color: #181a19;
    font-size: 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    background-color: #151517;
    min-height: 80px;
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: #efb810 ;
    text-transform: uppercase;
    font-weight: bold;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: bold;
}
.menu .navbar ul li a:hover{
    color: #efb810 ;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    .content{
        min-height: 70px;
    }
    .menu{
        top: 0;
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #151517;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
}/* Estilos base para las imágenes */
.img1,
.img2,
.img3,
.img4 {
    width: 300px;
    height: 300px;
    margin: 15px;
}

.containerImg {
    text-align: center;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}



/* Estilos para las imágenes al hacer hover */
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .containerImg {
        grid-template-columns: 1fr 1fr;
        gap: 20px; /* Cambia el espacio entre imágenes en pantallas medianas */
    }
}

@media screen and (max-width: 480px) {
    .containerImg {
        grid-template-columns: 1fr;
        gap: 10px; /* Cambia el espacio entre imágenes en pantallas pequeñas */
    }
}

.banner {
    display: grid;
    place-items: center;
    max-width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho disponible */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}
.logoHouse{
	width: 55px;
	height: auto;
	background-color: rgba(187, 186, 183, 0.473);
	border-radius: 80%;
    transition: transform 0.5s ease; /* Agregamos una transición suave */
}
@keyframes voltear {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
.logoHouse:hover {
    animation: voltear 1s ease; /* La imagen girará cuando el mouse esté encima */
}
.subtitulo {
    color: rgb(184, 167, 167);
}

.subtitulo1 {
    color: rgb(184, 167, 167);
}

h3 {
    color: black;
    display: inline; 
}

.parrafo {
    font-size: 16px; /* Tamaño de fuente reducido para dispositivos móviles */
    color: #000000;
}

.texto {
    margin: 15px;
}
.casa {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
.informacion{
    font-size: 25px;
}
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .parrafo {
        font-size: 14px; /* Reducción adicional del tamaño de fuente para dispositivos más pequeños */
    }

    .casa {
        width: 100%; /* Ajusta el ancho de la imagen al ancho del dispositivo */
        max-width: none; /* Anula la restricción de ancho máximo */
    }
}
